<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'Second number: ' + ${numberRepositoryImpl.result}" />
    <a href="/thymeleaf">Go back to calculator</a>
</body>
</html>